@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

.main-container {
  display: flex;
  flex-direction: column;
  background-color: pink;
}

/* body {
	background: #221f1f;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
} */

h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 1em;
}

p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 1em;
}

@mixin generate-gradient($color,$amount) {
	background: -moz-linear-gradient(top, rgba($color,$amount) 0%, rgba($color,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba($color,$amount) 0%,rgba($color,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba($color,$amount) 0%,rgba($color,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.Header {
	@include generate-gradient(#000000, 1);
	display: inline-block;
	padding: 40px ;
	position: fixed;
	top: 0;
	left: 0;
  width: 100vw;
  height: 15vh;
	box-sizing: border-box;
	z-index: 5;
}

.logo {
	width: 200px;
	height: 100px;
  margin-Left: 5px;
  border-radius: 25px;
  transition: margin .125s ease;
  z-index: 4;
}

.Hero {
      width: 100%;
      position: relative;
      background-size: cover;
      min-height: 700px;
      margin: auto;
      padding-bottom: 25px;
}
      
span {
        position: absolute;
        z-index: 4;
        width: 400px;
        left: 4.5vw;
        top: 3vw;
        font-size: 15px;
        text-transform: capitalize;
        font-weight: bold;
}  
	
.logo:hover {
		cursor: pointer;
		margin-top: 2px;
	  fill: #ffffff;
}

nav ul {
		display: flex;
		height: 37px;
		align-items: center;
    padding: 0 10px;
  }

nav li {
			font-weight: 400;
			padding: 7px 10px;
			font-size: 14px;
			transition: background .125s ease;
      border-radius: 3px;
    }

nav li:hover {
	background: green;
				cursor: pointer;
}

.container {
  display: flex;
  padding: 0 35px;
}

.item {
  background: green;
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
}

.container:hover .item {
  transform: translateX(-25%);
}

.item:hover ~ .item {
  transform: translateX(25%);
}

.item:hover {
  transform: scale(1.5) !important;
}

.content {
  margin-top: 40px;
  height: 300px;
  position: relative;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300);

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Lato', sans-serif;
	background-color: rgb(20, 23, 26);
}

.items{
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 5000px;
  transform: translateY(-50%) translateX(-50%);
}
	
	.items li{
		position: relative;
		vertical-align: middle;
		display: inline-block;
		list-style: none;
		width: 200px;
		height: 120px;
		background-color: black;
		transition-duration: .5s;
		overflow: hidden;
    cursor: pointer;
  }
		
		.bg-img{
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center top;
		}
		
		.bg-img:hover{
			transition-delay: .5s;
			width: 400px;
			height: 250px;
    }

			 
				a .content{
					transform: translateY(0) translateX(-50%);
					transition-delay: .75s;
					opacity: 1;
				}
		
		a{
			color: white;
			text-decoration: none;
			cursor: pointer;
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
      z-index: 2;
    }
			
			.content{
				background: linear-gradient(transparent, rgba(0, 0, 0, .75));
				width: 100%;
				height: 100px;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateY(100%) translateX(-50%);
				transition-duration: 1s;
				opacity: 0;
				padding: 40px 10px 10px 10px;
        width: 400px;
      }
				
				h2{
					font-weight: 300;
					color: white;
					font-size: 30px;
        }
        
        *,*::after,*::before {
          margin: 0;
          padding: 0;
          line-hieght: inherit;
          box-sizing: border-box;
        }
        
        html {
         font-size: 62.5%;  
        }
        
        body {
          margin: 0;
          padding: 25px;
          line-height: 1.8;
          background-color: #ff6b81;
          font-family: 'Oswald', sans-serif;
          font-size: 1rem;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

.card {
  width: 85%;
}
        .card img {
          height: 350px;
          width: 450px;
          float: right;
          padding: 15px;
        }

        
      










/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */

